.export-controller {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #f8f8f8;
	border-top: solid 1px #d9d9d9;
	padding: 5px;
	height: 60px;
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	z-index: 3; /* above the text pane which is 1 and 2 */
}

.export-window-container .export-controller { 
	position: relative;
	bottom: inherit;
	left: inherit;	
	margin: 10px;
	width: auto;
	background: transparent;
	height: 200px;
}

.export-options {
	background: #f8f8f8;
	position: absolute;
	bottom: 50px;
	left: 10px;
	width: 200px;
	padding: 10px;
	height: 100px;
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
	font-family: Avenir, Helvetica, Arial;
	font-size: 12px;
	z-index: 4; 
}

.export-options label {
	display: block;
}

.export-options .export-dramatic-option {
	margin-top: 5px;
}

.export-options .export-dramatic-option label {
	display: inline-block;
	margin-right: 10px;
}

.export-options .close-button {
	top: 5px;
	right: 5px;
}

.export-controller .export-play,
.export-controller .export-prev,
.export-controller .export-next {
	border: none;
	background-color: #ddd;
	border-radius: 50px;
	text-indent: -9999px;
	background-position: center center;
	background-repeat: no-repeat;
	position: absolute;
	left: 50%;
}

.export-controller .export-play:hover,
.export-controller .export-prev:hover,
.export-controller .export-next:hover {
	background-color: #eee;
	cursor: pointer;
}


.export-controller .export-play {
	width: 40px;
	height: 40px;
	background-image: url(../../css/images/export/play-icon.svg);
	background-size: 25px 25px;
	top: 15px;
	margin-left: -20px;
	background-position-x: 8px;
}

.export-window-container .export-controller .export-play {
	width: 100px;
	height: 100px;
	background-size: 70px; 70px;
	margin-left: -50px;
	background-position-x: 20px;
}

.export-controller .export-play.playing {
	background-image: url(../../css/images/export/pause-icon.svg);
}

.export-controller .export-prev,
.export-controller .export-next {
	width: 30px;
	height: 30px;
	margin-left: 5px;
	background-size: 15px 15px;
	top: 20px;
}

.export-controller .export-prev {
	background-image: url(../../css/images/export/previous-icon.svg);
	margin-left: -52px;
}

.export-controller .export-next {
	background-image: url(../../css/images/export/next-icon.svg);
	margin-left: 24px;
}

.export-window-container .export-controller .export-prev,
.export-window-container .export-controller .export-next {
	width: 60px;
	height: 60px;	
	background-size: 30px 30px;	
	margin-top: 20px;
}
.export-window-container .export-controller .export-prev {
	margin-left: -114px;
}

.export-window-container .export-controller .export-next {
	margin-left: 54px;	
}

.export-controller .export-currenttime,
.export-controller .export-duration,
.export-controller .export-options-button,
.export-controller .export-title,
.export-controller .export-subtitle {
	display: block;
	position: absolute;
	top: 25px;
}

.export-controller .export-currenttime {
	right: 50px;
}

.export-controller .export-duration {
	right: 10px;
}

/*
.export-controller .export-title {
left: 35px;
}
	*/
.export-controller .export-title {
	top: 20px;
	left: 34px;
}

.export-controller .export-subtitle {
	top: 35px;
	left: 34px;
	font-size: 90%;
	color: #888;
}

.export-controller .export-options-button {
	left: 8px;
	width: 20px;
	height: 20px;
	background-size: 20px 20px;
	border: none;
	box-shadow: none;
	background-color: transparent;
	cursor: pointer;
}

.export-controller label {
	position: absolute;
	bottom: 0;
	left: 10px;
	display: none;
}

.export-controller .export-slider {
	background: #ccc;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
	width: 100%;
}
.export-window-container .export-slider { 
	top: inherit;
	bottom: 0;
}

.export-controller .export-slider .export-slider-current {
	background: #999;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
}

.export-controller .export-slider .export-slider-loaded {
	background: #cc9;
	position: absolute;
	top: 0;
	left: 0;
	height: 10px;
}

.export-controller .export-slider .export-slider-handle {
	display: block;
	border-radius: 2px;
	border: solid 1px #aaa;
	width: 16px;
	height: 14px;
	background: #bbb;
	position: absolute;
	top: -2px;
	left: 0;
	margin-left: -8px;
	cursor: ew-resize;
}